body {
    background-color: rgb(84, 216, 177);
    }
    .color-green {
    color: rgb(76, 238, 12);
    }
    .container {
    margin: 25px;
    padding-top: 20px;
    border: rgb(32, 181, 218) 2px solid;
    padding-bottom: 25px;
    }
    .my-cart {
    background-color: rgb(50, 157, 206);
    display: block;
    margin: auto 30px;
    max-width: 450px;
    padding: 20px;
    border-radius: 20px;
    }
    .header {
    text-align: center;
    margin: 0 auto 20px auto;
    color: rgb(14, 12, 100);
    font-size: 30px;
    }
    input[type=text] {
    width: 425px;
    padding: 10px;
    }
    .MyButton {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    }